*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body{
    background: #dfe9f5;
  }
  .container{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }
  .container1{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 2rem;
    color: #07001f;
  }
  p{
    margin-bottom: 1.7rem;
  }
  form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
  }
  .recover a{
    text-decoration: none;
    color: #000000;
  }
  button{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: rgb(99, 39, 209);
    color: #fff;
    cursor: pointer;
  }
  button:hover{
    background: rgb(0, 0, 0);
  }
  
  .not-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
  }
  .not-member a{
    color: tomato;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .close{
    text-align: left;
    font-size: large;
  }
  .close a{
    text-decoration: none;
    color: #000000;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  