@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

:root {
  --white: #fafafa;
  --dark-white: #e4e4e4;
  --dark-white-transparent: #e4e4e48c;
  --gray: #2c2c2c;
  --ligth-gray: #8c8c8c;
  --blue: #1a8cd8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--gray);
}

.twitter-right {
  display: none;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

.left {
  font-size: 380px;
}

.right {
  transform: translate(100px, 0);
}

.text2 {
  margin-top: 10px;
}

.text {
  margin-top: 20px;
}

.text3 {
  margin-top: 30px;
  font-size: larger;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid var(--ligth-gray);
  background-color: transparent;
  transition: opacity 0.3s, background-color 0.3s;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button-group {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.button-bg-white {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white);
}

.button-bg-blue {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid transparent;
}

.button-bg-transparent {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-bg-transparent:hover {
  background-color: var(--dark-white);
}

.text-center {
  text-align: center;
}

.text-blue {
  color: var(--blue);
}

.text-muted {
  color: var(--ligth-gray);
  font-size: 0.8em;
  max-width: 300px;
}

a,
.button-link {
  color: var(--gray);
  text-decoration: none;
  border: none;
  padding: 0;
  font-weight: normal;
  
}

a:hover,
.button-link:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

footer {
  padding: 10px;
  margin: auto;
  text-align: center;
  position: fixed;
  bottom: 10px;
}

footer a {
  margin: 10px;
  font-size: 0.8em;
  color: var(--ligth-gray);
}
